@charset "utf-8";

/**/
ajusteTela{
	display: grid;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}
.main{
	display:grid;
	grid-template-areas:"header header";
	grid-template-rows:50%;
	font-family: 'Roboto';
}
@media screen and(max-width: 768px){
	.menu{width:100%;}
	}
/* ESTILO DO MENU */
.logo{
	height: 70px;
	width: 200px;
	float: left;
}
nav{
	display:inline;
	float:left;
	color:white;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 21px;
}
.item:hover{
	display: block;
	background-color: #ff0080;
	padding-top: 25px;
	padding-left: 20px;
}
a{
	padding: 0px 10px;
	display: inline;
	
	color:white;
	text-decoration: none;
}
/* ESTILO DA IMAGEM */
img{
	max-width:100%;
	grid-area: img;
}
/*ESTILO DO FUNDO*/
body{
	background-color: black;
}

/*ESTILO DE TEXTO*/
h1{
	font-size: 22px;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 16px;
}
h1,h2,h3{
	font-family: 'Roboto', sans-serif;
	color: #FF1493;
	text-align: justify;
	text-transform: uppercase;	
}
h4{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #FF1493;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}
p{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: white;
	text-align: justify;
	text-indent: 30px;
}
form{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #FF1493;
	text-align: center;
	text-indent: 0px;
	text-decoration: underline ;
	border:2px solid #FF1493;
	border-RADIUS:15PX;
}
}
/*ESTILO DO RODAPÉ*/
footer{
	color:white;
	text-align:center;
	border:2px solid #FF1493;
	border-RADIUS:15PX;
	PADDING:5px
}