body{
	background-color: black;
	font-size: 20px;
	text-decoration: none !important;
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

a:link 
{ 
 text-decoration:none; 

}

header{margin-left: 120px;} 

.menu{
	text-decoration: none !important;
	list-style: none;
	position:relative;
	background-color: black;
	font-family: 'Roboto', sans-serif ;
	float:none;
	border-radius: 20px
	margin-left:130px;
	
	


}

.menu ul  {
position:relative;
display:none;

}



.menu li{
	position:relative;
	float:left;
	list-style: none;
	color:#FFFAFA;
	padding: 10px;

}


.menu li a {
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;

}


.menu  li:hover {
	display: block;
	position: relative;
	border:0.5px solid #FF1493;
    padding: 10px;
	
}

.login {margin-left: 1050px;}


footer{
border:2px solid #FF1493;
color: #FFFAFA;
border-RADIUS:15PX;
PADDING:5px}


 
.sub_cursos ul li {
	margin-left:150px;
	width:20px;
	height:20px;
	list-style:none;
	display: inline;

}




