@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
/* CSS Document */
.logo{
	height: 100px;
	width: 200px;
	float: left;
}
.logo img{
	float: left;
	max-width: 100%;
	max-height: 60%;
}
body{
	background-color: black;
}
/*ESTILO DO MENU*/
.menu{
	border-bottom: 1px #ff0080 solid;
	width: 100%;
	height: 70px;
}
.menu ul{
	padding:0px;
	margin: 30px;
	list-style: none;

}
.menu  li.item:hover {
	display: block;
	background-color: #ff0080;
	padding-top: 25px;
	padding-left: 20px;
}

.menu ul li.item{
	display:inline;
	float:left;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 21px;
	
}
.menu ul li {
	display:none;
}
.menu ul li a{
	padding: 0px 10px;
	display: inline;
	
	color:white;
	text-decoration: none;
	
}
/*ESTILOS DOS TÍTULOS*/
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #FF1493;
	text-transform: uppercase;
	text-align: center;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	
}


article{
	display:block;
	float: left;
}
/*ESTILOS DOS CURSO*/
.borda{
	float: left;
	border: 1px #FF1493 solid;
	width: 250px;
	height: 80px;
	padding: 15px;
}
/*ESTILOS DE LINKS*/
a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
	}
a:hover {
color: deeppink;
	}
footer{
	float: left;
	margin-top: 100px;
	margin-right: 300px;

	margin-left: 500px;
	font-family:'Roboto', sans-serif;
	font-size:16px;
	color: white;
}