@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{padding:0;margin:0;}
* {box-sizing: border-box;}
/*================================ grid ==============================*/
.main{
	display:grid;
	grid-template-areas:"header header header header" "container1 container1 container1 container1" "container2 container2 container2 container2" "footer footer footer footer";
	grid-template-rows:50%;
	font-family: 'Roboto';
}
.grid_header{
	grid-area: header;
	background-color:#000;
	margin-bottom:1px solid #F0C;
}
.container1{
	grid-area:container1;
	background-color:black;
}
.container2{
	grid-area:container2;
	background-color:black;
}

footer{
	grid-area: footer;
	background-color:black;
}
@media screen and (max-width: 480px){
.main{
	grid-template-areas:"header" "container" "footer";}
.grid_header{width:100%;display:flex;flex-direction:column;flex-wrap:no-wrap;}
.container1{width:100%;display:flex;flex-direction:column;flex-wrap:no-wrap;}
.container2{width:100%;display:flex;flex-direction:column;flex-wrap:no-wrap;}
footer{}}
/*=============================================================*/

body{
	background-color: black;
}

/*ESTILO DO MENU*/
.logo{
	height: 70px;
	width: 200px;
	float: left;
}
nav{
	display:inline;
	float:left;
	color:white;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 21px;
}
.item:hover{
	display: block;
	background-color: #ff0080;
	padding-top: 25px;
	padding-left: 20px;
}
a{
	padding: 0px 10px;
	display: inline;
	
	color:white;
	text-decoration: none;
}
/*ESTILOS DOS TÍTULOS*/
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #FF1493;
	text-transform: uppercase;
	text-align: center;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	
}

/*ESTILOS DOS CURSO*/

.container1{
display:flex;
flex-direction: row;
border: 3px solid #FF1493;
}

.container2{
display:flex;
flex-direction: row;
align-items: 15px;
border: 3px solid #FF1493;
}

.cursos{
	border: 2px solid #FF1493;
}
/*ESTILOS DE LINKS*/
a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
	}
a:hover {
color: deeppink;
	}
footer{
	color:white;
	text-align:center;
	border:2px solid #FF1493;
	border-RADIUS:15PX;
	PADDING:5px
}
