@import url('https://fonts.googleapis.com/css?family=Roboto:400,700'); /*letra roboto*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}                           /*navegador comtabilizar distancias com a borda*/




body{
	background-color: black;
	font-size: 20px;
	text-decoration: none !important;
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	margin: 0px;
}

a:link 
{ 
 text-decoration:none; 
}


/*-----estilo do menu-----------*/
.menu a {
	text-decoration: none;
	color:white;
	font-family: 'Roboto';
	
	}

.menu {
	align-items: center;
	display:grid;                                          /*abre um grid*/
	grid-template-collumns:20px;
	grid-template-rows:20px;
	justify-content: space-around;
	display:flex;
	flex-direction:row;
	
	
	
}

.logo{position: relative;}


.mainBanner{
	display: grid;
	grid-template-collumns:50%;
	grid-template-areas:'banner banner ';

}


.menu{
	
	text-align: center;
	text-decoration: none !important;
	position:relative;
	font-family: 'Roboto', sans-serif ;
	float:none;			
}


.menu a:hover {
	display: block;
	border:0.5px solid #FF1493;
	padding: 10px;
    
	
}

/*----------------------------*/
.faculdade{text-align: center;}

footer{
border:2px solid #FF1493;
color: #FFFAFA;
border-radius:15PX;
padding:5px;
text-align:center;
}


 
.sub_cursos ul li {
	margin-left:150px;
	width:20px;
	height:20px;
	list-style:none;
	display: inline;

}

.comentUm{border:2px solid #FF1493 ;}
.comentDois{border:2px solid #FF1493 ;}
.comentTres{border:2px solid #FF1493 ;}
.comentQuatro{border:2px solid #FF1493 ;}

.comentarios h1{
	text-align: center;
}

.comentarios {
	display: grid;
	grid-template-areas:'coment1 coment2 coment3 coment4'
	

}
/*-----------------config responsivo---------------*/
@media only screen and (max-width: 500px) {
 .teste{display:flex;flex-direction: column;}
 .mainBanner{width: 100%;}
 .comentarios{display:flex;flex-direction: column;}
 .menu{padding: 0px;}
 .menu a {padding: 0px;}



}




/*-------------------------------------------------*/