* {box-sizing: border-box;}


body{
	background-color: black;
	font-size: 20px;
	text-decoration: none !important;
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;
	list-style: none;
}

a:link 
{ 
 text-decoration:none; 

}
.menu {
	align-items: center;
	display:grid;                                          /*abre um grid*/
	grid-template-collumns: 50%;
	grid-template-areas:'collumn1 collumn2 collumn3 collumn4 collumn5 collumn6 collumn7 ';
	color:#FFFAFA;
	font-family: 'Roboto';

	
}

.mainCollumn1{}
.mainCollumn2{grid-area:collumn2; background-color: pink;}
.mainCollumn3{grid-area:collumn3; background-color: red;}
.mainCollumn4
.mainCollumn5
.mainCollumn6
.mainCollumn7






.menu{
	
	text-align: center;
	text-decoration: none !important;
	list-style: none;
	position:relative;
	font-family: 'Roboto', sans-serif ;
	float:none;			
}

.faculdade{text-align: center;}

.menu ul  {
position:relative;
display:none;

}

.menu li a {
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;

}


.menu  li:hover {
	display: block;
	border:0.5px solid #FF1493;
    
	
}




footer{
border:2px solid #FF1493;
color: #FFFAFA;
border-radius:15PX;
padding:5px;
text-align:center;
}


 
.sub_cursos ul li {
	margin-left:150px;
	width:20px;
	height:20px;
	list-style:none;
	display: inline;

}



.comentarios{
	text-align: center;
}

@media only screen and (max-width: 500px) {
 .teste{flex-direction: column; }
 .banner{width: 100%;}
 .menu {flex-direction: column;}
}