@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body{
	background-color: black;
	font-size: 20px;
	text-decoration: none !important;
	color:#FFFAFA;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-align:center;
}
footer{
	border:2px solid #FF1493;
	color: #FFFAFA;
	border-RADIUS:25PX;
	PADDING:5px;
	text-align: center;
	display: inline;
}

/* CSS Document */
.logo{
	height: 100px;
	width: 200px;
	float: left;
}
.logo img{
	float: left;
	max-width: 100%;
	max-height: 80%;
}

}
/*ESTILO DO MENU*/
.menu{
	border-bottom: 1px #ff0080 solid;
	width: 100%;
	height: 80px;
	
}
.menu ul{
	padding:0px;
	margin: 30px;
	list-style: none;
	

}
.menu  li.item:hover {
	display: block;
	background-color: #ff0080;
	padding-top: 25px;
	padding-left: 20px;
}

.menu ul li.item{
	display:inline;
	float:left;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 21px;
	
}
.menu ul li {
	display:none;
}
.menu ul li a{
	padding: 0px 10px;
	display: inline;
	
	color:white;
	text-decoration: none;
	
}

.img{
width=100%;
 height=70%;
}
@media only screen and (min-width: 480px){
	.menu{
	display:flex;
	}
	
	
}
/*ESTILOS DOS TÍTULOS*/
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	color: #FF1493;
	text-transform: uppercase;
	text-align: center;
}
h2 p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	
}
/*grid*/
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
@media only screen and (min-width: 480px){
.baner {
	width: 100%;
	height:100%;
	margin-left: 0px;
	margin-right: 0px;
	}
}
/*conteiner*/
.conteiner {
	width: 100;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 20px;
	display: inline;
}
@media (min-width: 480px) {
	.conteiner{
		max-width:100%;
		padding: 0;
		
	}
}
/*linha*/
.row {
	margin-left: +5px;
	margin-right: +5px;
}
.row:after {
	clear: both;	
}
/*colunas*/
.col{
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	margin-right: -4px;
	*zoom:1;
	*display: inline;
}
@media (min-width: 480px) {
	.col-2{
		width: 50%;
	}
/*tres colunas*/
@media (min-width: 480px) {
	.col-3 {	
		width: 33.3333%;
		text-align:left;
	}
}
/*flexbox*/
.cabecalhoPrincipal-titulo {
	display: inline-block;
}
.cabecalhoPrincipal-nav {
	display: inline-block;
}
	.contentfinal {
		width: 30%;
		height: 50px;
		display: flex;
		flex-direction: row; 
		flex-basis: auto;
		border-bottom: 3px #ff0080 solid;
		justify-content: space-between;
	}
