<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/esqueci_senha.css"/>
<title>Recuperar Senha</title>
</head>

<body>
<section class="main">
<div class="header">
	<img class="logo" src="img/logo-novo.png"/>
        <nav class="item"><a href="index">A Impacta</a></nav>  
        <nav class="item"><a href="graduacao">Cursos</a></nav>
        <nav class="item"><a href="#">Eventos</a></nav>
        <nav class="item"><a href="noticias">Noticías</a></nav>
        <nav class="item"><a href="#">Blog</a></nav>
        <nav class="item"><a href="#">Contatos</a></nav>
		<nav class="item"><a href="login">Login</a></nav>
</div>
<div class="senha">
	<div class="form">
		<form action="recuperarSenha" method="post">
			<span class="titulo">Recuperar <strong>senha</strong></span><br><br/>
			<label for"email"> Email: </label><br/><br/>
			<input type="text" name="email" id="email" size="20"/><br/><br/>
			<label for="ra_aluno"> RA: </label><br/><br/>
			<input type="text" name="ra_aluno" id="ra_aluno"/><br/><br/>
			<label for="nova_senha"> Nova senha: </label><br/><br/>
			<input type="password" name="nova_senha" id="nova_senha"><br/><br/>
			<label for="confirmacao_senha"/> Confirmação da Nova Senha: </label><br/><br/>
			<input type="password" name="confirmacao_senha" id="confirmacao_senha"/><br/><br/>
			<button type="submit">Enviar</button>
	   
		</form>
	</div>
</div>
<footer class="grid_footer">
 &copy; Impacta 2017. Todos os direitos reservados. Política de privacidade</footer>
</section>



</section>
</body>
</html>