
<!--Nome: kaio vinicius RA: 1701612-->
<!--Nome: Vinicius K. Costa RA: 1701607-->

<!DOCTYPE HTML>
<html>
<head>
	<title>Faculdade Impacta</title>
	<link rel="stylesheet" href= "static/css/estilomenu.css" type="text/css"/>
	<meta name="Vinicius K. Costa RA: 1701607" />
	<meta name="kaio vinicius RA: 1701612" />
</head>
<body>
<header>
		<nav class="menu">
           <span class="imagem"><img src="img/logo-novo.png" alt="logo" width="170px" height="50px" /></span>
          	<span class="a"><a href="index">A Impacta</a></span>
           	<span class="b"><a href="graduacao">Cursos</a></span>
            <span class="c"><a href="#">Eventos</a></span>
            <span class="c"><a href="noticias">Noticías</a></span>
            <span class="e"><a href="#">Blog</a></span>
            <span class="f"><a href="#">Contatos</a></span>
			<span class="f"><a href="novaDisciplina">Nova Disciplina</a></span>
            <span class="g"><a href="login">Login</a></span>
    	</nav>
</header><br/><br/>

	<nav class="mainBanner">
		<span class="banner"><a href="#"><img src="img/banner-4.png" width="100%" height="80%" alt="banner"/></a></span>
	</nav>
<br/><br/>

	<nav class="mainBanner">
		<span class="banner"><a href="#"><img src="img/banner-4.png" width="100%" height="80%" alt="banner"/></a></span>
	</nav>
    <span class="faculdade"><h1>Faculdade Impacta</h1><b><br/>
    
     <div class="teste">
      	<a href="#"><img src="img/gradu.png" alt="graduação"></a>
        <a href="#"><img src="img/tec.png" alt="tecnico"></a>
        <a href="#"><img src="img/up.png" alt="up"></a>
     </div>   
    
 	<b><u><h1>A INSTITUIÇÃO FACULDADE IMPACTA DE TECNOLOGIA</h1></u></b><br/>

	A Faculdade Impacta Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.

	Com a missão de levar o estado da arte em matéria de tecnologia de ponta às empresas e formar profissionais capazes e competentes, a Faculdade Impacta Tecnologia oferece cursos de Graduação, Pós-Graduação, Extensão e MBA, ministrados por mestres e doutores com experiência de mercado, que preparam os estudantes para a realidade do mercado de trabalho e proporcionam uma educação comprometida com a ética, a cidadania, o conhecimento e o atendimento às necessidades contemporâneas, por meio de uma estrutura educacional inovadora e diferenciada.

	Faculdade Impacta. Mais do que uma parceira para a vida acadêmica, uma parceira para a vida inteira.

	<b><h2>MISSÃO</h2></b><br/>

	A missão da Faculdade Impacta Tecnologia é oferecer um ambiente propício à formação integral do ser humano, proporcionando uma educação comprometida com a ética, a cidadania, o conhecimento e o atendimento às necessidades contemporâneas, por meio de uma estrutura educacional inovadora e diferenciada, contribuindo para uma melhor qualidade de vida do indivíduo e da sociedade.



	<b><h2>CONHEÇA O SISTEMA SMART CLASS</h2></b><br/>

	Conheça o sistema Smart Class
	O Smart Class é sistema de ensino inédito da Faculdade Impacta Tecnologia, que permite assistir todas as disciplinas dos cursos de Graduação no formato digital. O aluno matriculado em qualquer graduação da Faculdade Impacta tem acesso a mais de 20 mil aulas, garantindo uma formação completa e interdisciplinar. E, o melhor, sem qualquer custo adicional!

	Como funciona o Smart Class

	As salas de aula da Faculdade Impacta são equipadas com lousas eletrônicas, que capturam todos os pontos das aulas presenciais, como voz, escrita dinâmica, vídeos e navegação do professor. Todo esse conteúdo é gravado e disponibilizado em uma sala de ensino virtual para que o aluno assista a hora que desejar.<br/>
    
     <h1>Comentários De Ex-Alunos</h1><br/>
   
    <nav class="comentarios">
   		<nav class="comentUm">
	   		  "Os treinamentos da Impacta são<br/> muito bons, os proficionais são altamente<br/> capacitados e dispostos a encinar dentro <br/> e, fora da faculdade."<br/><br/>
	   		  -Marcelo Kiilian Heinnsberg
	   	
	   	</nav>	  
	   	<nav class="comentDois">
	   	 	 "Mesmo quando estou trabalhando,<br/> não deixo de buscar melhores<br/> oportunidades, por isso sempre mantive <br/>meu cadastro ativo na impacta"<br/><br/>
	   		 -Rafael Arrijo
   		
	   	</nav>	 
   		<nav class="comentTres">  
   		  	"Consegui a certificação<br/> MCSA em Windows e uma vaga de<br/> destaque na empresa onde trabalho,<br/> conquistas que devo ao intensivo <br/> tira dúvidas e aos instrutores da<br/> Impacta,<br/><br/>
   		  	"
   		  	-Renato Carneiro De Andrade
   		
   		</nav>
   		<nav class="comentQuatro">  
   		  	"Conheço a Impacta desde sua <br/>fundação e já realizei dezenas de<br/> treinamentos turante todos<br/> esses anos para renovar meus conhecimentos"<br/><br/>
   		  	-Henrique Montserrat Fernandez 
  		</nav>
  	</nav>	
		<td><h2><center>SOBRE</center></h2>
	<nav class="sobreNos">
	      <p>A Faculdade Impacta Tecnologia nasceu da percepção<br/> de um Grupo, que desde 1998 é referência em TI,<br/> Gestão e Design, para suprir a falta de mão de obra<br/> especializada do mercado de tecnologia e oferecer<br/> uma formação completa e multidisciplinar aos alunos.</p>  
	    <td> <h2>CONTATO</h2><br/>
	      <p>Telefones:<br/><br/>
	           Comercial:<br/>
	           Tel: 11 3254-8300<br/><br/>
	           Secretaria:<br/>
	           Tel: 11 5593-5346<br/><br/>
	           Unidade - Barra Funda<br/></br>
	           Avenida Rudge, 315 - Barra Funda<br/>
	    
       <nav class="redes">
       		<h2>SIGA A IMPACTA</h2>
        <a href="https://twitter.com/facimpacta"><img src="img/tw.png" alt="logo_twiter"></a>
        <a href="https://www.youtube.com/user/GrupoImpacta"><img src="img/you.png" alt="logo_youtube"></a>
        <a href="https://www.facebook.com/FacImpacta/"><img src="img/face.png" alt="logo_facebook"></a>
        <a href="https://www.instagram.com/facimpacta/"><img src="img/insta.png" alt="logo_instagram"></a>
        <a href="https://www.linkedin.com/edu/faculdade-impacta-tecnologia-161006/"><img src="img/lin.png" alt="logo_linkedin"></a>
       </nav>
     </nav>  
	<footer>
		© Impacta 2017. Todos os direitos reservados. Política de privacidade		
    </footer>
</body>
</html>
