<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Impacta login</title>
<link rel="stylesheet" href="css/login.css" type="text/css"/>
	<meta charset="utf-8"/>
    <meta name="Cristopher Crispim dos Santos R.A: 1701604"/>
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
<header>
<div class="header">
	<img class="logo" src="img/logo-novo.png"/>
        <nav class="item"><a href="index">A Impacta</a></nav>  
        <nav class="item"><a href="graduacao">Cursos</a></nav>
        <nav class="item"><a href="#">Eventos</a></nav>
        <nav class="item"><a href="noticias">Noticías</a></nav>
        <nav class="item"><a href="#">Blog</a></nav>
        <nav class="item"><a href="contato">Contatos</a></nav>
		<nav class="item"><a href="login">Login</a></nav>
</div>
<div class="login">
		<form id="formulario" action="recuperarSenha" method="post">
			<div class="campo">
                <label for"email">RA ou Email</label><br/>
                <input type="text" name="email" id="email" size="20"/><br/>
			</div>
			<div class="campo">
    			<label for="senha"> Senha </label><br/>
				<input type="password" name="senha" id="senha"><br/><br/>
			</div>
      			<input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Lembre-se de mim</label> <br>
                <div class="info"> 
			<a href="esqueci_senha.html">Esqueci a senha</a>
			<a href="cadastro.html">Novo cadastro</a>
            </div>
       			<button type="submit">Login</button>
		</form>
</div>
     <footer>
		© Impacta 2017. Todos os direitos reservados. Política de privacidade.	
    </footer>

</body>
</html>

