<!DOCTYPE HTML>
<html>
<head>
	<title>Faculdade Impacta</title>
	<link rel="stylesheet" href="css/estilomenu.css" type="text/css"/>
	<meta name="Vinicius K. Costa RA: 1701607" />
	<meta name="kaio vinicius RA: 1701612" />
</head>
<body>
<header>
		<nav class="menu">
           <span class="imagem"><img src="img/logo-novo.png" alt="logo" width="170px" height="50px" /></span>
          	<span class="a"><a href="index.html">A Impacta</a></span>
           	<span class="b"><a href="graduacao.html">Cursos</a></span>
            <span class="c"><a href="#">Eventos</a></span>
            <span class="c"><a href="noticias.html">Noticías</a></span>
            <span class="e"><a href="#">Blog</a></span>
            <span class="f"><a href="#">Contatos</a></span>
			      <span class="f"><a href="novaDisciplina.html">Nova Disciplina</a></span>
            <span class="g"><a href="login.html">Login</a></span>
    </nav>
	</header><br/><br/>

<nav class="">Foto Atualizada com Scesso!!<nav>
<div class="">
  <nav class="">RA: {{raAluno}}</nav>
  <nav class="">Aluno: {{nomeAluno}}</nav>
  <nav class="">foto:<img src="img/{{foto}}"/></nav>


</div>



  </body>
  </html>