<header>
		<nav class="menu">
           <span class="imagem"><img src="img/logo-novo.png" alt="logo" width="170px" height="50px" /></span>
          	<span class="a"><a href="index">A Impacta</a></span>
           	<span class="b"><a href="graduacao">Cursos</a></span>
            <span class="c"><a href="#">Eventos</a></span>
            <span class="c"><a href="noticias">Noticías</a></span>
            <span class="e"><a href="#">Blog</a></span>
            <span class="f"><a href="#">Contatos</a></span>
			<span class="f"><a href="novaDisciplina">Nova Disciplina</a></span>
            <span class="g"><a href="login">Login</a></span>
    	</nav>
</header><br/><br/>

	<nav class="mainBanner">
		<span class="banner"><a href="#"><img src="img/banner-4.png" width="100%" height="80%" alt="banner"/></a></span>
	</nav>