@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
margin:0;
padding:0;
border-box:box-sizing;
font-family:roboto;
color:white;	
}

@media screen and (max-width: 480px){
.main{
	grid-template-areas:"header" "login" "formulario""footer";}
.header{width:100%;display:flex;flex-direction:column;flex-wrap:no-wrap;}

.formulario{width:100%;height:70%;display:flex;flex-direction:column;flex-wrap:no-wrap;}
.grid_footer{}}

@media screen and (max-width: 780px){.logo{display:none;}}
/*==================== menu ===================================*/
.header{
	display:grid;
	display:flex;
	flex-direction:row;
	background-color:black;
}

.logo{
	height: 70px;
	width: 200px;
	float: left;
}
body{
	Background-color:black;
}
nav{
	display:inline;
	float:left;
	color:white;
	font-size: 20px;
	text-align: center;

}
.item:hover{
	display: grid;
	background-color: #ff0080;
	width:140px;
	height:80px;
	display:flex;
justify-content:center;
align-items:center;
}
.item{
display:grid;
width:140px;
height:80px;
display:flex;
justify-content:center;
align-items:center;
}
a{
	padding: 0px 10px;
	display: inline;
	
	color:white;
	text-decoration: none;
}
.login{text-align:right;}
.form{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.5);
	width:350px;
}

.senha{
	background-image:url(../img/freelancer1.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	
display:grid;
display:flex;
justify-content:center;
align-items:center;
height:680px;
}
.titulo{
	font-size:26px;
	text-align:center;
	text-transform:uppercase;
}
input{   
    width:250px;
	height:30px;
	background-color: transparent;
}
button {background-color: #FF1493;
		font-family: 'roboto',sans-serif;
		color:white;
		font-weight: bolder;
		border-color: #FF1493;
		border-radius: 15px;
		font-size: 18px;
		}

button:hover{
	     -moz-transform: scale(1.2);
         -webkit-transform: scale(1.2);
         -o-transform: scale(1.2);}


footer{
	background-color:black;
	color:white;
	text-align:center;
	border:2px solid #FF1493;
	border-RADIUS:15PX;
	PADDING:5px
}
