@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
margin:0;
padding:0;
border-box:box-sizing;
font-family:roboto;
color:white;	
}
.logo{
	height: 70px;
	width: 200px;
	float: left;
}
.header{
	display:grid;
	display:flex;
	flex-direction:row;
	background-color:black;
}
nav{
	display:inline;
	float:left;
	color:white;
	font-size: 20px;
	text-align: center;
}
.item:hover{
	display: grid;
	background-color: #ff0080;
	width:140px;
	height:80px;
	display:flex;
justify-content:center;
align-items:center;
}
.item{
display:grid;
width:140px;
height:80px;
display:flex;
justify-content:center;
align-items:center;
transition: all 600ms;
}
a{
	padding: 0px 10px;
	display: inline;
	color:white;
	text-decoration: none;
}
.login{
	background-image:url(../img/nasa-7.jpg);
	opacity:0.9;
	background-repeat:no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
	align-items:center;
	height:680px;
}
.campo {
  width: 50%;
  float: left;
}
label{
	color:#ed145b;
	text-transform:uppercase;
	font-size:20px;
	font-weight:bolder;
}
.campo input {
  margin: 10px 1%;
  padding: 8px 1%;
  width: 90%;
}
.info{
	display:flex;
	align-items:center;
	justify-content:center;
	text-transform:uppercase;
}
#formulario {
  background-color:rgba(0,0,0,0.5);
  width: 60%; 
  padding: 45px 15px;
  height: auto;
}

input{   
	
    width:30px;
	height:30px;
	background-color: transparent;
}
button {
	background-color: #ed145b;
	color:white;
	font-weight: bolder;
	font-size: 16px;
	width:120px;
    height:40px;
	text-align: center;
	cursor: pointer;
	padding: 8px 25px;
	text-transform: uppercase;
	transition: all 400ms;
	float:right;
}
button:hover{
	background: none;
  	color: #ed145b;
}
.buttonright{
	display:flex;
	justify-content:flex-end;
}
footer{
	background-color:black;
	color:white;
	text-align:center;
	border:2px solid #ed145b;
	PADDING:5px;
	position:absolut;
	bottom:0;
	width:100%;
}
